.table {
  animation-name: tableleft;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes tableleft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.human {
  animation-name: humanleft;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 1s;
  transform: translateY(0);
}

@keyframes humanleft {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateX(0);
  }
}

.arms {
  animation: armsmove infinite 1.5s 2s;
  transform: translateY(0);
}

@keyframes armsmove {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }
  50% {
    transform: translateY(3%);
    transform: translateX(2%);
  }
  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
}
