.container {
  width: 90%;
  margin: 20px 0;
}

.loading {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  margin: 1% 2% !important;
  text-align: center;
}

.card img {
  margin: 20px 0px;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 5% !important;
  }
}

.sectionimg {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
